//! COLOR
//? Màu
$color-green: #0ba25e;
$color-darkGreen: #1a8a58;
$color-white: #fff;
$color-black: #000;
$color-background-gray: #F5F8FA;
$color-background-white: #fff;
$color-background-green: #F6FBF9;
//? Màu chữ
$color_text-black: #333;

//! SIZE
$size-16: 1rem;
